{% load staticfiles tz_detect raven %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'vendor/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome4/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/datatables/datatables.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/toastr/toastr.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/datepicker/css/gijgo.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/common/css/common.css' %}" rel="stylesheet">
  <link href="{% static 'base.css' %}" rel="stylesheet">
  {% block extrastyles %}{% endblock %}
  <script src="https://cdn.ravenjs.com/3.26.4/raven.min.js" crossorigin="anonymous"></script>
  <script>Raven.config('{% sentry_public_dsn %}').install()</script>
  <script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
</head>
<body class="h-100">
{% block base-content %}
{% endblock %}


<script type="text/javascript" src="{% static 'vendor/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datatables/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/swiper/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/select2/select2.min.js' %}"></script>
<script src='{% static "django-related-select.js" %}'></script>
<script type="text/javascript"
        src="{% static 'vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/toastr/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datepicker/js/gijgo.js' %}"></script>
<script type="text/javascript" src="{% static 'dropdown.js' %}"></script> 
<script>
  $( document ).ready(function() {
      $('.datepicker').each(function (i, picker) {
        $(picker).datepicker({
          uiLibrary: 'bootstrap4'
        });
      });
  });
</script>
{% include "_toastr.html" %}
{% tz_detect %}
{% block extrascripts %}{% endblock %}
</body>
</html>
