{% load staticfiles compress tz_detect %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% compress css %}
    <link href="{% static 'vendor/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome4/css/font-awesome.min.css' %}" rel="stylesheet">
  {% endcompress %}
  {% block extrastyles %}{% endblock %}
</head>
<body class="h-100">
{% block base-content %}
{% endblock %}

{% compress js %}
  <script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
{% endcompress %}
{% tz_detect %}
{% block extrascripts %}{% endblock %}
</body>
</html>
