{% extends 'base/b4_base_base.html' %}
{% load active_link_tags %}

{% block base-content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LSOA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        {% if request.session.course %}
          <li class="nav-item {% active_link 'observation_view' %}">
            <a class="nav-link" href="{% url 'observation_view' %}">Current Course</a>
          </li>
        {% endif %}
        <li class="nav-item {% active_link 'setup' %}">
          <a class="nav-link" href="{% url 'setup' %}">Setup</a>
        </li>
        <li class="nav-item {% active_link 'observations_all' %}">
          <a class="nav-link" href="
            {% if request.session.course %}
            {% url 'observations_specific' request.session.course %}
            {% else %}
            {% url 'observations_all' %}
            {% endif %}
          ">Star Charts</a>
        </li>
      {% if perms.lsoa.can_approve_deny_users %}
        <li class="nav-item {% active_link 'pending_users' %}">
          <a class="nav-link" href="{% url 'pending_users' %}">Pending Users</a>
        </li>
      {% endif %}
        <li class="nav-item {% active_link 'import_class_roster' %}">
          <a class="nav-link" href="{% url 'import_class_roster' %}">Import Class</a>
        </li>
        <li class="nav-item {% active_link 'tag_list' %}">
          <a class="nav-link" href="{% url 'tag_list' %}">Tags</a>
        </li>
        <li class="nav-item {% active_link 'admin:index' %}">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin Site</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% block extranav %}
        {% endblock %}
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
