{% extends 'base/b4_base_base.html' %}
{% load active_link_tags %}
{% load observations %}

{% block base-content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">KidViz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        {% if request.session.course and perms.kidviz.add_observation %}
          <li class="nav-item {% active_link 'observation_view' %}">
            <a class="nav-link" href="{% url 'observation_view' %}">Current Course</a>
          </li>
        {% endif %}
        {% if perms.kidviz.add_observation %}
          <li class="nav-item {% active_link 'setup' %}">
            <a class="nav-link" href="{% url 'setup' %}">Setup</a>
          </li>
        {% endif %}

        <li class="nav-item {% active_link 'work-queue' %}">
          <a class="nav-link" href="{% url 'work-queue' %}">Work queue</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle not-confirm"
             href="#"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Charts and Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle not-confirm" href="#">Star Charts</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item chart-item"
                    href="{% url 'observations_specific' request|course_from_session_or_first %}?chart_v1=Submit#chart_v1">Star Chart v1</a>
                </li>
                <li>
                  <a class="dropdown-item chart-item"
                    href="{% url 'observations_specific' request|course_from_session_or_first %}?chart_v1_vertical=Submit#chart_v1_vertical">Star Chart v1 Vertical</a>
                </li>
                <li>
                  <a class="dropdown-item chart-item"
                    href="{% url 'observations_specific' request|course_from_session_or_first %}?chart_v2=Submit#chart_v2">Star Chart v2</a>
                </li>
                <li>
                  <a class="dropdown-item chart-item"
                    href="{% url 'observations_specific' request|course_from_session_or_first %}?heat_map=Submit#heat_map">Star Chart v2 Heat Map</a>
                </li>
                <li>
                  <a class="dropdown-item chart-item"
                    href="{% url 'observations_specific' request|course_from_session_or_first %}?chart_v3=Submit#chart_v3">Star Chart v3</a>
                </li>
                <li>
                  <a class="dropdown-item chart-item"
                    href="{% url 'observations_specific' request|course_from_session_or_first %}?chart_v4=Submit#chart_v4">Star Chart v4</a>
                </li>
              </ul>
            </li>
            <a class="dropdown-item"
               href="{% url 'observations_teachers_specific' request|course_from_session_or_first %}">Teacher Charts</a></li>
            <li><a class="dropdown-item" href="{% url 'floating_students' %}">Floating Students Report</a></li>
            <li><a class="dropdown-item" href="{% url 'doubled_students' %}">Doubled Students Report</a></li>
            <li><a class="dropdown-item" href="{% url 'homonym_students' %}">Homonym Students Report</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if perms.kidviz.can_approve_deny_users %}
              <a class="dropdown-item" href="{% url 'pending_users' %}">Pending Users</a>
            {% endif %}

            {% if perms.kidviz.add_course %}
              <a class="dropdown-item" href="{% url 'import_class_roster' %}">Import Class</a>
            {% endif %}

            {% if perms.kidviz.add_contexttag %}
              <a class="dropdown-item" href="{% url 'tag_list' %}">Edit Tags</a>
            {% endif %}

            <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Site</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% block extranav %}
        {% endblock %}
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
