{% extends 'base/f7_base_base.html' %}

{% block extrastyles %}
    <style>
      .panel.panel-left.panel-cover {
        width: 320px;
        border-right: 1px solid #b2b2b2;
      }

      .full-height {
        height: 100%;
      }
    </style>
{% endblock %}

{% block base-content %}

  <div class="statusbar"></div>

  <div class="panel panel-left panel-cover">
    {% include 'components/_leftpanel.html' %}
  </div>

  <div class="view view-main">
      {% block content %}
      {% endblock %}
  </div>
{% endblock %}
