{% extends "base/b4_base.html" %}

{% load static bootstrap4 %}

{% block extrastyles %}
<link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <form class="form-horizontal" role="form" action="{% url 'account_login' %}" method="POST">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <h2>{% block title %}Sign In{% endblock %}</h2>
        <hr>
      </div>
    </div>
    <div class="col-md-6 offset-md-3">
      {% if form.non_field_errors %}
        {% bootstrap_form_errors form %}
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% bootstrap_messages %}
        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% if form.non_field_errors %}
          {% bootstrap_field form.login bound_css_class="is-invalid" %}
        {% else %}
          {% bootstrap_field form.login %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% if form.non_field_errors %}
          {% bootstrap_field form.password bound_css_class="is-invalid" %}
        {% else %}
          {% bootstrap_field form.password %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% bootstrap_field form.remember %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% bootstrap_button content='Sign In' button_type='submit' button_class='btn-success' %}
        <a class="btn btn-link" href="{% url 'account_reset_password' %}">Forgot Your Password?</a>

        <a class="btn btn-link" href="{{ signup_url }}">Create a new account</a>
      </div>
    </div>
  </form>
{% endblock %}
