{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
  <div class="cls-content">
    <div class="cls-content-sm panel">
      <div class="panel-body">
        <div class="mar-ver pad-btm">
          <h1 class="h3">{% block title %}Password Reset{% endblock %}</h1>
          <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to
            reset it.</p>
        </div>
        <form action="{% url 'account_reset_password' %}" method="POST">
          {# HIDDEN FIELDS, CSRF TOKEN, NON-FIELD ERRORS #}
          {% csrf_token %}

          {# EMAIL FIELD #}
          <div class="form-group">
            <input name="email" type="email" class="form-control" placeholder="E-mail" autofocus
                   value="{{ form.email.value|default:'' }}">
          </div>
          {% for error in form.email.errors %}
            <div class="alert alert-danger mt-2">{{ error|escape }}</div>
          {% endfor %}

          {# SUBMIT BUTTON #}
          <button class="btn btn-primary btn-lg btn-block" type="submit">Reset Password</button>
        </form>
      </div>

      <div class="pad-all">
        <a href="#" class="btn-link" onclick="window.history.back();">Go back</a>
      </div>
    </div>
  </div>
{% endblock %}
