{% extends "base/b4_base.html" %}

{% load static bootstrap4 %}

{% block content %}
  <form class="form-horizontal" role="form" action="{% url 'account_reset_password' %}" method="POST">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <h2>{% block title %}Password Reset{% endblock %}</h2>
        <hr>
        <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to
          reset it.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% bootstrap_messages %}
        {% csrf_token %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% bootstrap_field form.email %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% bootstrap_button content='Reset Password' button_type='submit' button_class='btn-success' %}

        <a class="btn btn-link" href="#" onclick="window.history.back();">Go back</a>
      </div>
    </div>
  </form>
{% endblock %}
