{% extends "base/b4_base.html" %}

{% load static bootstrap4 %}

{% block content %}
  <form class="form-horizontal" role="form" action="{{ action_url }}" method="POST">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <h2>{% block title %}
          {% if token_fail %}
            Bad Password Reset Link
          {% else %}
            Change Password
          {% endif %}
        {% endblock %}</h2>
        <hr>
        {% if token_fail %}
          <p>The password reset link was invalid, possibly because it has already been used.</p>
        {% else %}
          <p>Fill out the following form to reset your password</p>
        {% endif %}
      </div>
    </div>
    {% if not token_fail %}
      <div class="row">
        <div class="col-md-6 offset-md-3">
          {% bootstrap_messages %}
          {% csrf_token %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          {% bootstrap_field form.password1 %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          {% bootstrap_field form.password2 %}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% if not token_fail %}
          {% bootstrap_button content='Change Password' button_type='submit' button_class='btn-success' %}
        {% endif %}
        <a class="btn btn-link" href="{% url 'account_login' %}">Login with existing account</a>
      </div>
    </div>
  </form>
{% endblock %}
