{% load observations %}
{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.4/jquery.floatThead.js"></script>

<script>
$(document).ready(function() {
    $('.chart').floatThead();

    $('.chart').parent().scroll(function(e) {
        // This causes header to stay in correct position while vertically scrolling table.
        $(e.target).children().eq(2).floatThead('reflow');
    });
})
</script>

{% for construct, classes in star_matrix_by_class.items %}
<div style="overflow-x: scroll;width:100%;">
    <h4 class="text-align-center" style="margin-bottom: 25px;">{{ construct.abbreviation }}</h4>
    <table class="table table-bordered star_chart_table-{{ construct.id }} chart" data-construct="{{ construct.id }}">
        <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
                {% for level in construct.levels.all %}
                    <th colspan="{{ level.sublevels.count }}" data-sublevels="{{ level.sublevels.count }}" style="text-align:center;">
                        <button class="btn btn-primary btn-sm horizontal-merge" id="horizontal-{{ level.id }}"
                            data-sublevels="{{ level.sublevels.count }}" data-construct="construct-{{ construct.id }}"
                            data-level-name="{{ level }}" data-levels-count="{{ construct.levels.count }}"
                            >Merge {{ level }}</button>

                        <button class="btn btn-primary btn-sm horizontal-unmerge" id="horizontal-back-{{ level.id }}"
                            data-sublevels="{{ level.sublevels.count }}" data-construct="construct-{{ construct.id }}"
                            data-level-name="{{ level }}" data-levels-count="{{ construct.levels.count }}"
                            >Separate {{ level }}</button>
                    </th>
                {% endfor %}
            </tr>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
                {% for sublevel in construct.sublevels %}
                <th style="text-align:center;" class="align-middle" scope="col" title="{{ sublevel.description }}" data-toggle="tooltip" data-level-id="{{ sublevel.level.id }}">
                    {{ sublevel.short_name }}
                    {% if sublevel.description|length > 0 %}
                        <span><i class="fa fa-info-circle"></i></span>
                    {% endif %}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for class, students in classes.items %}
                {% for student, sublevels in students.items %}
                    {% if forloop.last %}
                        <tr class="construct-{{ construct.id }}">
                            <th scope="col" class="thicker">
                              <button id="class-merge-{{ class.id }}-{{ construct.id }}" type="button"
                                class="btn btn-primary btn-sm class-merge"
                                data-construct="construct-{{ construct.id }}"
                                data-class="{{ class }}"
                                >Merge {{ class }}</button>

                              <button id="class-separate-{{ class.id }}-{{ construct.id }}" type="button"
                                class="btn btn-primary btn-sm class-separate"
                                data-construct="construct-{{ construct.id }}"
                                data-class="{{ class }}"
                                >Separate {{ class }}</button>
                            </th>

                            <th scope="row" class="student-{{ construct.id }} thicker class-{{ class.id }} student-cell fixed-student"
                                >{{ student }}{% if not student.consented_to_research and not perms.kidviz.can_view_nonconsent_observations %}*{% endif %}
                            </th>
                    
                            {% for sublevel, observations in sublevels.items %}
                                <td data-csl-id="{{ csl_id }}" style="border-bottom: 3pt solid black;"
                                    class="text-center thicker" data-class="{{ class.id }}"
                                    {% if observations %}
                                        data-modal-launch-observations="{{ observations|observation_pks }}"
                                    {% endif %}>

                                    {% if observations %}
                                        <i data-toggle="tooltip" title="" class="fa fa-star"></i>
                                    {% endif %}
                                    {% if observations|length > 1 %}
                                        <span class="star-number">({{ observations|length }})</span>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr class="construct-{{ construct.id }} class-{{ class.id }}">
                            <th scope="col">&nbsp;</th>
                            <th scope="row" class="student-{{ construct.id }} class-{{ class.id }} student-cell fixed-student"
                                >{{ student }}{% if not student.consented_to_research and not perms.kidviz.can_view_nonconsent_observations %}*{% endif %}
                            </th>
                    
                            {% for sublevel, observations in sublevels.items %}
                                <td data-csl-id="{{ csl_id }}"
                                    class="text-center" data-class="{{ class.id }}"
                                    {% if observations %}
                                        data-modal-launch-observations="{{ observations|observation_pks }}"
                                    {% endif %}>

                                    {% if observations %}
                                        <i data-toggle="tooltip" title="" class="fa fa-star"></i>
                                    {% endif %}
                                    {% if observations|length > 1 %}
                                        <span class="star-number">({{ observations|length }})</span>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}

{% if show_no_construct %}
    <div style="overflow-x: scroll;width:100%;" id="star_table">
        <h4 class="text-align-center" style="margin-bottom: 25px;">Observations without constructs</h4>
        <table class="table table-bordered">
            <tbody>
                {% for student, observations in observation_without_construct.items %}
                    <tr>
                        <th scope="row">{{ student }}</th>
                        <td data-csl-id="{{ csl_id }}"
                            class="text-center"
                            {% if observations %}
                                data-modal-launch-observations="{{ observations|observation_pks }}"
                            {% endif %}>

                            {% if observations %}
                                <i data-toggle="tooltip" title="" class="fa fa-star"></i>
                            {% endif %}
                            {% if observations|length > 1 %}
                                <span class="star-number">({{ observations|length }})</span>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% block extrascripts %}
<script src="{% static 'merge.js' %}"></script>
{% endblock %}