{% load static %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'star-chart-v4.css' %}">
{% endblock %}

{% for construct, classes in star_chart_4.items %}
    {% with template_name='includes/_construct_timeline_table.html' %}
        {% include 'includes/_display_constructs.html' %}
    {% endwith %}
{% endfor %}

<div class="wrapper">
    <div class="push"></div>
</div>

<div class="footer shadow-lg pl-3 pr-3">
    <div class="row mt-4">
        <div class="col-12 text-center" id="slider-value"></div>
    </div>
    <div class="row mb-5 mr-1 ml-1 mt-2 pb-5">
        <div class="col-12" id="date-slider"></div>
    </div>
</div>

{% block extrascripts %}
<script src="https://cdn.jsdelivr.net/npm/async@3.1.0/dist/async.min.js"></script>
<script>
    window.COLORS_DARK = "{{ COLORS_DARK|escapejs }}";
    window.minDate = "{{ min_date }}";
    window.maxDate = "{{ max_date }}";
    window.observations = "{{ star_chart_4_dates|escapejs }}";
    window.allObservations = "{{ observations_count }}";
    window.isStudents = false;
</script>
<script src="{% static 'merge4.js' %}"></script>
<script src="{% static 'slider.js' %}"></script>
{% endblock %}
