{% extends 'base/b4_base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>{% block title %}Approve/Deny Users{% endblock %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="{% url 'pending_users' %}">Pending Users</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'approved_users' %}">Approved Users</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'denied_users' %}">Denied Users</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'observation_setup_view' %}">Back to Setup</a></li>
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xs-12 w-100">
      <table class="table table-bordered table-striped display w-100">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>E-mail Address</th>
          <th>Sign up date</th>
          <th>Actions</th>
        </tr>
        </thead>
        {% for user in object_list %}
          <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created }}</td>
            <td>
              <ul class="list-unstyled list-inline">
                {% for action in view.actions %}
                  <li>
                    <a href="{% url action.0 user.id %}?redirect={{ request.path }}" class="btn btn-sm btn-primary">
                      {{ action.1 }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}

{% block extrascripts %}
  <script>
    $(document).ready(function () {
      $('table.display').DataTable({
        aLengthMenu: [
          [25, 50, 100, 200, -1],
          [25, 50, 100, 200, "All"]
        ],
        iDisplayLength: 25
      });
    });
  </script>
{% endblock %}
