[role="tooltip"] {
    z-index: 9999999;
}

table, .ios .page {
    background-color: #fff !important;
}

.modal.show {
    z-index: 5010;
}

[data-modal-launch-observations] {
    cursor: pointer;
}

[data-modal-launch-observations] i {
    color: goldenrod;
}
[data-modal-launch-observations] i.observation-imported-true {
    color: blue;
}
[data-modal-launch-observations] i.observation-imported-mixed {
    background: linear-gradient(to left, blue 49%, goldenrod 50%);
    color: transparent;

    -webkit-background-clip: text;
    background-clip: text;
}

[data-modal-launch-observations]:hover i {
    color: darkgoldenrod;
}
[data-modal-launch-observations]:hover i.observation-imported-true {
    color: navy;
}
[data-modal-launch-observations]:hover i.observation-imported-mixed {
    background: linear-gradient(to left, navy 49%, darkgoldenrod 50%);
    color: transparent;

    -webkit-background-clip: text;
    background-clip: text;
}

.star-number {
    font-size: 12px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #f2a287;
    border-radius: 50%;
    display: inline-block;
    margin: 3px auto;
}

.dot:hover {
    background-color: #cb6634;
}

/*
 * Height of date input is broken if there is no value. It have been
 * solved in higher version of bootstrap.
 */
input[type="date"] {
    height: 2.375rem;
}

.thicker {
    border-bottom: 2pt solid black !important;
}

.student-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
}

.fixed-student {
    position: sticky;
    left: 0;
    background-color: white;
}

.pinch-zoom-container {
    width: 530px;
    height: 332px !important;
}

.pinch-zoom {
    width: 530px;
    height: 332px !important;
}