#enable-draw span{  display: none;  }
#enable-draw.enab span.enab{  display: inline;  }
#enable-draw.disa span.disa{  display: inline;  }
#drawing-color-button.disabled span#drawing-color{  display: none; }
#drawing-color-button span#drawing-color{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  margin-bottom: -1px;
}
