#enable-draw span {
  display: none;
}

#enable-draw.enab span.enab {
  display: inline;
}

#enable-draw.disa span.disa {
  display: inline;
}

#drawing-color-button.disabled span#drawing-color {
  display: none;
}

#drawing-color-button span#drawing-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  margin-bottom: -1px;
}

.swiper-container {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 100%;
}

.canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.notes-container {
  margin-bottom: 50px;
  width: calc(100% - 6px);
  height: 150px;
  font-size: 1em;
  background-color: white;
}

.examples-block {
  width: 80%;
  margin: 0 auto;
}

/*
 * change icon color to black
 * to change color use `fill` option
 */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  color: black;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.loader-frame {
  background-color: #d3d3d3d3;
  height: 120%;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow-y: scroll;
  position: absolute;
  visibility: hidden;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 2s linear infinite;
  z-index: 999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.canvas-container {
  margin: 0 auto;
}
