.star-v4 {
    overflow-x: scroll;
    width:100%;
}

.star-v4 h4 {
    margin-bottom: 25px;
}

.wrapper {
    margin-bottom: -100px;
}

.push {
    height: 150px;
}

.footer {
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    border-top: 3px solid black;
    background-color: white;
}

.ui-slider.ui-corner-all,
.ui-slider .ui-corner-all {
  border-radius: 0;
}

.ui-slider.ui-slider {
  border-radius: 7px;
}

.ui-slider.ui-slider-horizontal {
  height: 10px;
}

.ui-slider .ui-slider-handle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: black;
}

.ui-slider .ui-slider-handle:hover {
  background-color: grey;
}

.ui-slider .ui-slider-handle:focus {
  background-color: grey;
}

.ui-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -15px;
}

.ui-slider .ui-slider-handle:hover {
  opacity: .8;
}
