[role="tooltip"] {
    z-index: 9999999;
}

table, .ios .page {
    background-color: #fff !important;
}

.modal.show {
    z-index: 5010;
}

[data-modal-launch-observations] {
    cursor: pointer;
}

[data-modal-launch-observations] i {
    color: goldenrod;
}

[data-modal-launch-observations]:hover i {
    color: darkgoldenrod;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #f2a287;
    border-radius: 50%;
    display: inline-block;
    margin: 3px auto;
}

.dot:hover {
    background-color: #cb6634;
}

/*
 * Height of date input is broken if there is no value. It have been
 * solved in higher version of bootstrap.
 */
input[type="date"] {
    height: 2.375rem;
}

table .construct {
    width: 15%;
}