{% load observations %}
{% load static %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'star-chart-v4.css' %}">
{% endblock %}

<div class="row mt-5">
    <div class="col-12 text-center" id="slider-value"></div>
</div>
<div class="row mb-5 mr-1 ml-1">
    <div class="col-12" id="date-slider"></div>
</div>

{% for construct, classes in star_chart_4.items %}
<div class="star-v4">
    <h4 class="text-align-center">{{ construct.abbreviation }}</h4>
    <table class="table table-bordered star-chart-4-table-{{ construct.id }}">
        <thead>
            <!-- TODO: MERGING LEVELS AND CLASSES -->
            <!--<tr>
                <th scope="col">&nbsp;</th>

                {% for level in construct.levels.all %}
                    <th colspan="{{ level.sublevels.count }}" data-sublevels="{{ level.sublevels.count }}" class="text-center">
                        <button class="btn btn-primary btn-sm horizontal-merge-4" id="horizontal-4-{{ level.id }}"
                            data-sublevels="{{ level.sublevels.count }}" data-construct="construct-{{ construct.id }}"
                            data-level-name="{{ level }}" data-levels-count="{{ construct.levels.count }}"
                            >Merge {{ level }}</button>

                        <button class="btn btn-primary btn-sm horizontal-unmerge-4" id="horizontal-back-4-{{ level.id }}"
                            data-sublevels="{{ level.sublevels.count }}" data-construct="construct-{{ construct.id }}"
                            data-level-name="{{ level }}" data-levels-count="{{ construct.levels.count }}"
                            >Separate {{ level }}</button>
                    </th>
                {% endfor %}
            </tr>-->
            <tr>
                <th scope="col">&nbsp;</th>

                {% for sublevel in construct.sublevels %}
                    <th class="align-middle text-center" scope="col"
                        title="{{ sublevel.description }}" data-toggle="tooltip"
                        data-level-id="{{ sublevel.level.id }}">
                        {{ sublevel.short_name }}
                        {% if sublevel.description %}
                            <span><i class="fa fa-info-circle"></i></span>
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for class, sublevels in classes.items %}
                <tr class="construct-{{ construct.id }}">
                    <td><b>{{ class.name }}</b></td>

                    {% for sublevel, observations in sublevels.items %}
                        <td data-csl-id="{{ csl_id }}" class="text-center heat-{{ class.id }}-{{ sublevel.id }}"
                            data-color="{% get_color_star_chart_4 sublevel observations construct %}"
                            bgcolor="{% get_color_star_chart_4 sublevel observations construct %}">
                        </td>
                    {% endfor %}
                </tr>
                <tr class="construct-{{ construct.id }} thicker">
                    <td></td>

                    {% for sublevel, observations in sublevels.items %}
                        <td data-csl-id="{{ csl_id }}" data-stars="{{ observations|length }}"
                            class="text-center stars-{{ class.id }}-{{ sublevel.id }}">
                            <span>{{ observations|length }}</span>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}

{% block extrascripts %}
<script>
    window.COLORS_DARK = "{{ COLORS_DARK|escapejs }}";
    window.minDate = "{{ min_date }}";
    window.maxDate = "{{ max_date }}";
    window.observations = "{{ star_chart_4_dates|escapejs }}";
</script>
<script src="{% static 'merge4.js' %}"></script>
<script src="{% static 'slider.js' %}"></script>
{% endblock %}
