{% load observations %}

{% for construct, sublevels in dot_matrix.items %}

<div style="overflow-x: scroll;width:100%;">
    <h4 class="text-align-center" style="margin-bottom: 25px;">{{ construct.name }}</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for level in construct.sublevels %}
                    <th scope="col" title="{{ level.description }}" data-toggle="tooltip">
                        {{ level.name }}
                        {% if level.description|length > 0 %}
                            <span><i class="fa fa-info-circle"></i></span>
                        {% endif %}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for sublevel, observations in sublevels.items %}
                    <td>
                    {% for observation in observations %}
                        <div class="row">
                          <span
                            class="dot"
                            data-csl-id="{{ observation.id }}"
                            data-modal-launch-observations="[{{ observation.id }}]"/>
                        </div>
                    {% endfor %}
                    </td>
                {% endfor %}
                </tr>
            </tbody>
    </table>
</div>

{% endfor %}
