<script type="text/javascript">
  $(document).ready(function () {
    toastr.options = {
      "closeButton": false,
      "debug": true,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "1000",
      "hideDuration": "1000",
      "timeOut": "3000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    };
    {% for message in messages %}
      console.log('{{ message }}');
      toastr["{{ message.tags|lower }}"]("{{ message|escapejs|truncatechars:60 }}",
        "{{ message.tags|capfirst }}");
    {% endfor %}
  });

</script>
