{% extends 'base/b4_base_with_nav.html' %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
  <form action="" method="POST">
      <div class="row">
        <div class="col-6 offset-3">
          <h1>{{ title }}</h1>
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group {% if field.errors %}has-errors text-danger{% endif %}">
              <div data-form-label="{{ field.auto_id }}">
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
              </div>
              {{ field }}
              {% if field.errors %}
                {% for error in field.errors %}
                  <div class="item-content small" style="color: red;">{{ error }}</div>
                {% endfor %}
              {% endif %}
            </div>
          {% endfor %}
          <input type="submit" class="btn btn-primary col" value="Submit">
        </div>
      </div>
  </form>
</div>
{% endblock %}

{% block extrascripts %}

{% endblock %}
