{% extends 'base/b4_base_with_nav.html' %}

{% load staticfiles %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'groupings.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}">
{% endblock %}

{% block extrascripts %}
  <script src="{% static 'vendor/easeljs/easeljs.min.js' %}"></script>
  <script src="{% static 'vendor/lightbox2/js/lightbox-plus-jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jqueryui/jquery-ui.1.12.1.js' %}"></script>
  <script src="{% static 'vendor/jqueryui/mobile.patch.js' %}"></script>
  <script src="{% static 'jquery-plugins/outerHTML.js' %}"></script>
  <script src="{% static 'jquery-plugins/animateAppendTo.js' %}"></script>
  <script src="{% static 'jquery-plugins/shuffle.js' %}"></script>
  <script>
    lightbox.option({
      'albumLabel': ''
    });
  </script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="navbar-inner">
      <div class="left">&nbsp;</div>
      <div class="title">{% block title %}TOTs: New Groupset{% endblock %}</div>
      <div class="subnavbar">
        <div class="subnavbar-inner">
          <!-- Subnavbar content, for example tabs buttons -->
          <input required type="text" id="id_grouping_name" placeholder="Grouping Name" value="{{ grouping.name }}">
          <button class="save">Save</button>
          <input type="hidden" value="{{ course.id }}" id="id_course">
          <input type="hidden" value="{{ grouping.id|default_if_none:"" }}" id="id_grouping">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 h-10">
      <div class="buckets">

        <div class="bucket-column bucket-column--locked bucket-column--all">
          <div class="bucket">
            <div class="bucket__title">All Students ({{ course.students.count }})</div>
            <div class="tools-heading">TOOLS <i class="fa fa-angle-down"></i></div>
            <div class="tools" style="display: none;">
              <hr>
              <div class="bucket-item" id="reset" onclick="reset();"><i class="fa fa-trash"></i> Clear All Groups</div>
              <hr>
              <div class="splits">
                <div class="tools__title">Split into:</div>
                <div class="split-into bucket-item students" data-split-into-students="2">
                  Groups of <span class="value">2</span> Students
                </div>
                <div class="split-into bucket-item students" data-split-into-students="3">
                  Groups of <span class="value">3</span> Students
                </div>
                <div class="split-into bucket-item students" data-split-into-students="4">
                  Groups of <span class="value">4</span> Students
                </div>
                <div class="split-into bucket-item students" data-split-into-students-input="true">
                  Groups of <input type="number"> Students
                </div>
                <hr>
                <div class="split-into bucket-item groups" data-split-into-groups="2">
                  <span class="value">2</span> Groups
                </div>
                <div class="split-into bucket-item groups" data-split-into-groups="3">
                  <span class="value">3</span> Groups
                </div>
                <div class="split-into bucket-item groups" data-split-into-groups="4">
                  <span class="value">4</span> Groups
                </div>
                <div class="split-into bucket-item groups" data-split-into-groups-input="true">
                  <input type="number"> Groups
                </div>
              </div>
              <hr>
            </div>

            <div class="dropzone">
              {% for student in course.students.all %}
                <div class="student bucket-item" data-student-id="{{ student.id }}">
                  <div class="student__name"
                       title="{{ student.first_name }} {{ student.last_name }}">{{ student }}</div>
                </div>
              {% endfor %}
              <div class="show-droppable-hover">Drop Student Here</div>
            </div>
          </div>
        </div>

        <div class="bucket-column bucket-column--locked bucket-column--new bucket-column--no-drag">
          <div class="bucket">
            <div class="bucket__title">Add New Group</div>
            <div class="dropzone">+</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {# This is the empty column template #}
  <div class="d-none" id="empty-bucket">
    <div class="bucket-column bucket-column--group">
      <div class="bucket">
        <div class="delete">&Cross;</div>
        <input placeholder="Title" class="bucket__title"/>
        <div class="dropzone">
          <div class="show-droppable-hover">Drop Student Here</div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      var groupingInitData = {{ initial_grouping_dict | safe }};

      /**
       * Set up the handlers for adding a new bucket
       **/
      function initializeNewColumnColumn() {
        var $makeNew = $('.bucket-column--new');
        $makeNew.find('.bucket').on('click', makeNewBucket);
        $makeNew.droppable({
          accept: ".student",
          classes: {
            "ui-droppable-active": "ui-state-highlight"
          },
          drop: function (event, ui) {
            var newBucket = makeNewBucket();
            moveStudentToBucket(newBucket, ui.draggable);
          }
        });
      };

      function setUpTools() {
        $('.tools-heading').on('click', function () {
          $('.tools').slideToggle();
        });
      }

      /**
       * Set up the bucket handlers for each initial bucket
       **/
      function initializeBucketColumns() {
        $('.bucket-column').each(function (indx, elem) {
          attachBucketHandlers(elem);
        })
      }

      function initializeSplits() {
        var $inputs = $('.split-into input');

        $inputs.on('click', function (e) {
          // Stop clicking the input from triggering the action
          e.stopPropagation();
          e.preventDefault();
        });

        $('.split-into').on('click', function (e) {
          handleSplitIntoClick($(e.currentTarget));
        });
      }

      function setUpSaveFunction() {

        $('button.save').on('click', trySave);

        function trySave() {
          var data = getDataForSaving();
          if (!data.valid) {
            alert(data.reasons.join('\n'));
          }else{
            $.ajax({
              url: '/grouping/save/',
              type: 'POST',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(data),
              success: function(response){
                if(response.error){
                  alert(response.messages.join(' '));
                }else{
                  window.location = '/';
                }
              }
            })
          }
        }
      }

      function initializeGroups(){
        for(var groupId in groupingInitData){
          var groupData = groupingInitData[groupId];
          var $groupElem = makeNewBucket(groupId);
          $groupElem.find('input.bucket__title').val(groupData.name);
          groupData.student_ids.forEach(function(id){
            $('[data-student-id="'+id+'"]').appendTo($groupElem.find('.bucket .dropzone'));
          });
        }
      }

      setUpTools();
      setUpSaveFunction();
      initializeGroups();
      initializeSplits();
      initializeNewColumnColumn();
      initializeBucketColumns();
      makeStudentsDraggable();
    });


    var allStudentsArea = $('.bucket-column--all .dropzone');
    var emptyBucketTemplate = $('#empty-bucket .bucket-column');

    /**
     * Moves a student to a given bucket
     * @param bucket
     * @param student
     */
    function moveStudentToBucket(bucket, student) {
      $(bucket).find('.dropzone').append(student);
    }

    /**
     * Handle a click on a split-into element
     **/
    function handleSplitIntoClick($splitIntoElem) {
      var numStudentsPerGroup = $($splitIntoElem).data('split-into-students');
      var numFreeFormStudentsPerGroup = $($splitIntoElem).data('split-into-students-input');

      var numGroupsOfStudents = $($splitIntoElem).data('split-into-groups');
      var numFreeFormGroupsOfStudents = $($splitIntoElem).data('split-into-groups-input');

      // If it's a freeform, get the value
      if (numFreeFormStudentsPerGroup) {
        numStudentsPerGroup = $($splitIntoElem).find('input').val();
      }
      if (numFreeFormGroupsOfStudents) {
        numGroupsOfStudents = $($splitIntoElem).find('input').val();
      }

      if (numStudentsPerGroup) {
        randomGroupsOfNStudents(numStudentsPerGroup);
      } else if (numGroupsOfStudents) {
        randomGroupSizes(numGroupsOfStudents);
      }

      $('.tools').slideUp();
    }

    /**
     * Make all .student objects draggable
     **/
    function makeStudentsDraggable($student) {
      if (!$student) {
        $student = $('.student');
      }

      $student.draggable({
        revert: "invalid", // when not dropped, the item will revert back to its initial position
        containment: "document",
        helper: "clone",
        cursor: "move",
        appendTo: 'body',
        start: function () {
          $(this).hide();
        },
        stop: function () {
          $(this).show();
        }
      });
    }

    /**
     * Attach all handlers (click, drop, etc) to a bucket column
     * @param bucketColumn
     */
    function attachBucketHandlers(bucketColumn) {
      // Set up deletion
      $(bucketColumn).find('.delete').on('click', function (e) {
        deleteBucket(e.currentTarget);
      });

      if (!$(bucketColumn).hasClass('bucket-column--no-drag')) {
        $(bucketColumn).find('.bucket').droppable({
          accept: ".student",
          classes: {
            "ui-droppable-active": "ui-state-highlight"
          },
          drop: function (event, ui) {
            moveStudentToBucket(this, ui.draggable);
          }
        });
      }
    }

    /**
     * Remove all the handlers from a bucket column
     **/
    function deleteBucketHandlers(bucketColumn) {
      if (!$(bucketColumn).hasClass('bucket-column--no-drag')) {
        $(bucketColumn).find('.bucket').droppable('disable');
      }
    }

    /**
     * Move every single student to the starting bucket
     */
    function moveAllStudentsToStart() {
      try {
        $('.students').draggable('destroy');
      } catch (e) {
      }
      $('.bucket-column:not(.bucket-column--locked) .student').appendTo(allStudentsArea, 500);
      makeStudentsDraggable();
    }

    /**
     * Deletes all buckets
     */
    function removeAllBuckets() {
      $('.bucket-column:not(.bucket-column--locked)').each(function (indx, elem) {
        deleteBucket(elem);
      })
    }

    /**
     * Called to reset everything
     */
    function reset() {
      moveAllStudentsToStart();
      removeAllBuckets();
    }

    /**
     * Make a new group bucket, and return the DOMElement
     * @returns {jQuery|HTMLElement}
     */
    function makeNewBucket(groupId) {
      var $newElem = $(emptyBucketTemplate[0].outerHTML);
      $('.buckets .bucket-column--new').before($newElem);
      attachBucketHandlers($newElem);
      if(groupId) {
        $newElem.find('input.group_id').val(groupId)
      }
      return $newElem;
    }

    /**
     * Delete a given bucket.
     * @param bucket
     */
    function deleteBucket(bucket) {
      var $target = $(bucket);

      // If this isn't the bucket-col, get the bucket-col
      if (!$target.hasClass('bucket-column')) {
        $target = $target.parents('.bucket-column');
      }

      var studentsNumber = $target.find('.student').length;
      removeIfDone(-1);

      $target.find('.student').each(function (indx, elem) {
        $(elem).animateAppendTo(allStudentsArea, 100, function ($newElem) {
          removeIfDone(indx);
          makeStudentsDraggable($newElem);
        });
      });

      function removeIfDone(index) {
        if ((index + 1) === studentsNumber) {
          deleteBucketHandlers($target);
          $target.remove();
        }
      }
    }

    function randomGroupsOfNStudents(n) {
      reset();
      var $allStudents = $(allStudentsArea).find('.student');
      var numberOfStudents = $allStudents.length;
      var bucketsNeeded = Math.floor(numberOfStudents / n);

      $allStudents.draggable('destroy');
      $allStudents.shuffle();

      for (var i = 0; i < bucketsNeeded; i++) {
        var $newBucket = makeNewBucket();
        var $dropzone = $newBucket.find('.dropzone');
        for (var j = 0; j < n; j++) {
          $(allStudentsArea).find('.student').first().appendTo($dropzone);
        }
      }

      $(allStudentsArea).find('.student').addClass('blink');
      setTimeout(function () {
        $(allStudentsArea).find('.student.blink').removeClass('blink');
      }, 1000);

      makeStudentsDraggable();
    }

    function randomGroupSizes(bucketsNeeded) {
      reset();
      var $allStudents = $(allStudentsArea).find('.student');
      var numberOfStudents = $allStudents.length;
      var studentsPerGroup = Math.floor(numberOfStudents / bucketsNeeded);

      $allStudents.draggable('destroy');
      $allStudents.shuffle();

      for (var i = 0; i < bucketsNeeded; i++) {
        var $newBucket = makeNewBucket();
        var $dropzone = $newBucket.find('.dropzone');
        for (var j = 0; j < studentsPerGroup; j++) {
          $(allStudentsArea).find('.student').first().appendTo($dropzone);
        }
      }

      $(allStudentsArea).find('.student').addClass('blink');
      setTimeout(function () {
        $(allStudentsArea).find('.student.blink').removeClass('blink');
      }, 1000);
      makeStudentsDraggable();
    }

    function getDataForSaving() {
      var data = {
        course_id: $('#id_course').val(),
        grouping_id: $('#id_grouping').val(),
        grouping_name: $('#id_grouping_name').val(),
        groupings: [],
        valid: true,
        reasons: []
      };

      $('.buckets .bucket-column--group').each(function (i, colElem) {
        var group = {
          name: $(colElem).find('.bucket__title').first().val(),
          studentIds: [],
          id: $(colElem).find('input.group_id').val()
        };

        $(colElem).find('.student[data-student-id]').each(function (i, student) {
          group.studentIds.push($(student).data('student-id'));
        });

        data.groupings.push(group);
      });

      if (data.grouping_name.length <= 0) {
        data.valid = false;
        data.reasons.push('Must supply grouping name');
        var $errorfield = $('#id_grouping_name');
        $errorfield.addClass('blink');
        setTimeout(function () {
          $errorfield.removeClass('blink')
        }, 1000);
      }
      if (!data.groupings.length) {
        data.valid = false;
        data.reasons.push('Must create atleast one group');
      }
      return data;
    }


  </script>
</div>
{% endblock %}
