{% extends 'base/b4_base_with_nav.html' %}

{% load staticfiles %}
{% load observations %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'observations.css' %}">
{% endblock %}

{% block extrascripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
  <script src="{% static 'vendor/fabricjs/fabricjs.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'pinch-zoom.umd.js' %}"></script>
  <script>
    function initSelect2() {
      $("#id_constructs").select2({
        tokenSeparators: [',', '\n']
      });
      $("#id_tags").select2({
        tokenSeparators: [',', '\n']
      });
      $("#id_courses").select2({
        tokenSeparators: [',', '\n']
      });

      var course_id = "{{ course_id }}";

      if (course_id !== "None") {
        course_id = JSON.parse(course_id);

        if (typeof(course_id) === "number") {
          $('#id_courses').val(`${course_id}`).trigger('change');
        } else if (typeof(course_id) === "object" && course_id.length === 1) {
          $('#id_courses').val(`${course_id[0]}`).trigger('change');
        } else if (typeof(course_id) === "object" && course_id.length > 1) {
          $('#id_courses').select2().val(course_id).trigger("change");
        }
      }
    }

    function loadAllowedConstructs() {
      if ($("#construct-row").hasClass('d-none')) {
        return
      }
      var date_from = $('#id_date_from').val();
      var date_to = $('#id_date_to').val();
      var course = $('#courseSelector').val();
      if (isNaN(course)) {
        course = undefined;
      }

      $.ajax({
        type: 'POST',
        url: '{% url "observations-ajax" %}',
        dataType: 'json',
        data: {
          'course': course,
          'date_to': date_to,
          'date_from': date_from,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response) {
          var data = response['data'];
          var selected = $('#id_constructs').val();
          $('#id_constructs').empty();

          $.each(data, function(index, option) {
            $('#id_constructs').append( new Option(option.value, option.id) );
          });
        },
        error: function (xhr, status, e) {

        }
      });
    }

    $( document ).ready(function() {
      initSelect2();
      loadAllowedConstructs();
      $('.datepicker').datepicker({
          uiLibrary: 'bootstrap4'
      });

      $('.gj-datepicker').append(`<span class="clearInput" role="right-icon">
          <button btn btn-outline-secondary border-left-0 type="button"><i class="fa fa-close"></i></button></span>`)

      $('.clearInput').click(function() {
        var datepicker = $($(this).parent().find('input')).datepicker();

        if (datepicker.value() !== '') {
          $(datepicker.val(''));
          $('#filtering-submit').removeAttr('disabled');
        }
      })

      $('#filtering-submit').prop('disabled', true)

      $('#filterForm :input').on('change input', function() {
        $('#filtering-submit').removeAttr('disabled');
      });

      $('.datepicker').prop('readonly', true);
    });

    function registerUpdateConstructsListener(id) {
      var listeners = ['change', 'unfocus'];
      listeners.forEach(function(listener) {
        $(id).on(listener, loadAllowedConstructs);
      });
    }

    registerUpdateConstructsListener('#id_date_from');
    registerUpdateConstructsListener('#id_date_to');


    function loadVideo(id, key) {
        var $video = $('#' + key + '-source-' + id)[0];
        if ($video) {
            var link = $video.value;
            var $videoContainer = $('#' + key + '-' + id)[0];
            var $videoElement = $('<video />', {
                style: 'width: 100%; height: 100%;',
                src: link,
                type: 'video/mp4',
                controls: true,
                preload: false,
            })[0];

            $videoContainer.append($videoElement);
            $video.remove();
        }
    }

    function loadPicture(id, is_touch_device) {
        var $canvas = $('#the-modal .modal-body #' + id);
        $canvas.attr('id', 'canvas' + id);

        var annotation_data = $('#annotation_data_' + id).html();

        $('#the-modal').on('shown.bs.modal', function() {
            var url = $('#image-source-'+id).html();
            if (!url) {
                return;
            }

            var canvas = new fabric.Canvas('canvas' + id, {
                isDrawingMode: false,
                selection: false,
            });

            const canvasHeight = 332;
            const canvasWidth = 530;

            var bgImg = new fabric.Image();

            if (is_touch_device) {
                const el = $('.modal-body').find(`#art-${id}`)[0];

                if (el !== null) {
                    new PinchZoom.default(el, {});
                }
            } else {
                canvas.on('mouse:wheel', function(opt) {
                    const event = opt.e;
                    const delta = event.deltaY * -1;
                    const widthViewport = 4;
                    const heightViewport = 5;
                    const zoomingVelocityReducer = 200;
                    const maxZoom = 10;
                    const minZoom = 1;
                    const baseViewportValue = 120;
                    const panningLimit = 200;

                    var zoom = canvas.getZoom();
                    zoom = zoom + delta / zoomingVelocityReducer;
                    zoom = Math.min(Math.max(zoom, minZoom), maxZoom);

                    canvas.zoomToPoint({ x: event.offsetX, y: event.offsetY }, zoom);
                    event.preventDefault();
                    event.stopPropagation();

                    const vpt = this.viewportTransform;

                    if (zoom < panningLimit / canvasWidth) {
                        this.viewportTransform[widthViewport] = baseViewportValue - canvasWidth * zoom / 2;
                        this.viewportTransform[heightViewport] = baseViewportValue - canvasHeight * zoom / 2;
                    } else {
                      if (vpt[widthViewport] >= 0) {
                          this.viewportTransform[widthViewport] = 0;
                      } else if (vpt[widthViewport] < canvas.getWidth() - canvasWidth * zoom) {
                          this.viewportTransform[widthViewport] = canvas.getWidth() - canvasWidth * zoom;
                      }

                      if (vpt[heightViewport] >= 0) {
                          this.viewportTransform[heightViewport] = 0;
                      } else if (vpt[heightViewport] < canvas.getHeight() - canvasHeight * zoom) {
                          this.viewportTransform[heightViewport] = canvas.getHeight() - canvasHeight * zoom;
                      }
                    }
                });
            }

            bgImg.setSrc(url.replace(/&amp;/g, '&'), function(obj) {
                var imageWidth = $('#image-width_' + id).html();

                if (imageWidth == 'None') {
                    imageWidth = 500
                }

                const scale = (canvasWidth - parseFloat(imageWidth)) / 2;

                var ctx = {};

                if (annotation_data !== "") {
                    var ctx = JSON.parse(annotation_data.replace(/&quot;/g, '"'));
                }

                // Load drawings to canvas
                canvas.loadFromJSON(ctx);
                canvas.setHeight(canvasHeight);
                canvas.setWidth(canvasWidth);

                // Scale and add image to canvas.
                obj.scaleToWidth(canvasWidth);
                obj.scaleToHeight(canvasHeight);
                obj.set({selectable: false});
                canvas.add(obj);
                obj.centerH();

                // Get only drawings without image.
                // Fabric saves drawings with type 'path'.
                const drawings = canvas.getObjects().filter(object => object.type == 'path')

                // I can't use bringToFront() with forEachObjects because bringToFront()
                // change canvas's objects stack so iteration fails.
                // Never use bringForward(). It will crash drawings.
                drawings.forEach(drawing => {
                    drawing.left += scale
                    drawing.bringToFront();
                    drawing.selectable = false;
                })

                canvas.renderAll();
            });

            return canvas;
        });
    }

    $(function () {
      // Init tooltips
      var is_touch_device = (
          ("ontouchstart" in window)
          || window.DocumentTouch
          && document instanceof DocumentTouch
      );

      if (is_touch_device) {
        $('[data-toggle="tooltip"]').tooltip({trigger: 'click'});
      } else {
        $('[data-toggle="tooltip"]').tooltip({trigger: 'hover'});
      }

      // Remove duplicate modals
      var seen = {};
      $('.observation-body[data-observation-id]').each(function () {
        var id = $(this).data('observation-id');
        if (seen[id])
          $(this).remove();
        else
          seen[id] = true;
      });

      // Launch modals
      $('body').on('click', '[data-modal-launch-observations]', function (e) {
        var observationIds = $(this).data('modal-launch-observations');

        $('#the-modal .modal-body').html('');
        observationIds.forEach(function (id) {
          loadVideo(id, 'video');
          loadVideo(id, 'video-notes');

          $('#the-modal .modal-body').append($('[data-observation-id="' + id + '"]').clone());

          loadPicture(id, is_touch_device);
        });

        var modal = $('#the-modal');
        modal.modal({
          size: 'lg',
          fade: true
        });
      });

      $('.nav-link').on('click', function (e) {
        var chart_href = $(this).attr('href');
        var chart_id = chart_href.substr(1);

        if (chart_href !== "#") {
          $('#filtering-submit').attr('name', chart_id);
        }

        if (chart_id === "timeline_view") {
          $("#construct-row").addClass('d-none');
          $('.date-class').addClass('d-none');
          $('#student-construct-row').addClass('d-none');
        } else if (chart_id === "student_view") {
          $(".swapping").addClass('d-none');
          $("#construct-row").addClass('d-none');
          $('#student-construct-row').removeClass('d-none');
          $('.date-class').removeClass('d-none');
        } else {
          $(".swapping").addClass('d-none');
          $('.date-class').removeClass('d-none');
          $('#student-construct-row').addClass('d-none');
        }
      });

      $('.nav-tabs a').on('shown.bs.tab', function (e) {
        // Mark current position to don't scroll after changing tab.
        const src = window.pageYOffset;
        window.location.hash = e.target.hash;
        window.scrollTo(0, src);
      })

      // Select chart after refresh or back.
      let url = window.location.href.split('/');
      url = url[url.length - 1].split('#');
      $(`#chartTab a[href="#${url[url.length - 1]}"]`).tab('show');
      window.scrollTo(0, 0);

      if (url[url.length - 1] == "timeline_view") {
        $("#construct-row").addClass('d-none');
        $('.date-class').addClass('d-none');
        $('#student-construct-row').addClass('d-none');
      } else if (url[url.length - 1] == "student_view") {
        $("#construct-row").addClass('d-none');
        $('#student-construct-row').removeClass('d-none');
      } else {
        $("#construct-row").addClass('d-none');
        $('.date-class').removeClass('d-none');
        $('#student-construct-row').addClass('d-none');
      }

      $('#select-all-courses').click(function() {
        $('#id_courses').find('option').removeAttr('selected');
        $('#id_courses').find('option').prop('selected', true);
        $('#id_courses').select2();
        $('#filtering-submit').removeAttr('disabled');
      })

      $('#id_time_window').addClass('form-control');
    });
  </script>
{% endblock %}


{% block content %}
  <div class="container-fluid">
      {% csrf_token %}
      <div class="row">
        <div class="col-12">

          {% include "_base_filtering.html" %}

          <ul class="nav nav-tabs" id="chartTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link {% if selected_chart == "student_view" %} active {% endif %}"
                data-toggle="tab" href="#student_view">Student View</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if selected_chart == "construct_view" %} active {% endif %}"
                data-toggle="tab" href="#construct_view">Construct View </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if selected_chart == "construct_heat_map" %} active {% endif %}"
                data-toggle="tab" href="#construct_heat_map">Construct Heat Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if selected_chart == "timeline_view" %} active {% endif %}"
                data-toggle="tab" href="#timeline_view">Timeline View</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane {% if selected_chart == "student_view" %} active {% else %} fade {% endif %}" id="student_view">
              {% include "includes/student_view.html" %}
            </div>
            <div class="tab-pane {% if selected_chart == "construct_view" %} active {% else %} fade {% endif %}" id="construct_view">
              {% include "includes/construct_view.html" %}
            </div>
            <div class="tab-pane {% if selected_chart == "construct_heat_map" %} active {% else %} fade {% endif %}" id="construct_heat_map">
              {% include "includes/construct_heat_map.html" %}
            </div>
            <div class="tab-pane {% if selected_chart == "timeline_view" %} active {% else %} fade {% endif %}" id="timeline_view">
              {% include "includes/timeline_view.html" %}
            </div>
          </div>
        </div>
      </div>
  </div>


  {# MODALS #}
  <div class="d-none">
      {% for observation in all_observations %}
        <div class="observation-body" data-observation-id="{{ observation.id }}">
          <h3>
            <a href="{% url 'observation_detail_view' pk=observation.id %}">
              Class: {{ observation.course }}
            </a>
            <a href="{% url 'observation_detail_view' pk=observation.id %}" class="btn btn-primary pull-right">Edit</a>
          </h3>
          <small class="d-block">
            <b>Students Observed:</b>
            {{ observation.students.all|join:', ' }}
          </small>
          <small class="d-block">
            <b>Observed by:</b>
            {{ observation.owner }}
          </small>
          <small class="d-block"><b>Constructs:</b> {{ observation.constructs.all|join:', ' }}</small>
          <small class="d-block"><b>Observation date:</b> {{ observation.observation_date }}</small>
          <small class="d-block"><b>Recorded on:</b> {{ observation.created }}</small>
          <small class="d-block">
            <b>Other students included:</b>
            {% if observation.students.all|length > 1 %}
              {{ observation.students.all|join:', ' }}
            {% else %}
              -
            {% endif %}
          </small>
          <small class="d-block">
            <b>Students in observed group(s):</b>
            {% if observation.allowed_students %}
              {{ observation.allowed_students|join:', ' }}
            {% else %}
              -
            {% endif %}
          </small>

          {% if observation.external_video %}
            <small class="d-block">
              <b>URL to video</b>: <a href="{{ observation.external_video }}">{{ observation.external_video }}</a>
            </small>
          {% endif %}

          {% if observation.tags.count %}
            <b style="display: block;">Tags:</b>
            {% for tag in observation.tags.all %}
              <span class="chip">{{ tag.text }}</span>
            {% endfor %}
          {% endif %}

          {% if observation.original_image %}
          <div class="row no-gutters">
            <div class="col-12" style="">
              <div class="art pinch-zoom" style="" id="art-{{ observation.id }}">
                <div style="display: flex; justify-content: center; width: 530px; height: 332px;">
                  <canvas id="{{ observation.id }}"></canvas>
                </div>
                <p class="d-none" id="image-width_{{ observation.id }}">{{ observation.image_width }}</p>
                <div class="d-none" id="annotation_data_{{ observation.id }}">{{ observation.annotation_data }}</div>
                <div class="d-none" id="image-source-{{ observation.id }}">{{ observation.original_image.url }}</div>
                <img class="d-none" src="{{ observation.original_image.url }}" width="530px" height="332px">
              </div>
            </div>
          </div>

          {% endif %}

          {% if observation.video %}
            <input id="video-source-{{ observation.id }}" value="{{ observation.video.url }}" class="hidden"/>
            <div id="video-{{ observation.id }}" style="display: flex; justify-content: center;"></div>
          {% endif %}

          {% if observation.notes %}
            <b style="display: block;">Note:</b>
            <p>{{ observation.notes }}</p>
          {% endif %}

          {% if observation.video_notes %}
            <b style="display: block;">Video Note:</b>
            <input id="video-notes-source-{{ observation.id }}" value="{{ observation.video_notes.url }}" class="hidden"/>
            <div id="video-notes-{{ observation.id }}" style="display: flex; justify-content: center;"></div>
          {% endif %}


          <div class="hr" style="height: 0;width: 100%;border-bottom: 2px solid #AAA; margin-bottom: 20px; margin-top: 20px"></div>
        </div>
      {% endfor %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="the-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>

{% endblock %}
