{% extends 'base/b4_base_with_nav.html' %}

{% load staticfiles %}
{% load keyvalue %}
{% load user_agents %}

{% block extrastyles %}
  <style>
    [role="tooltip"] {
      z-index: 9999999;
    }

    table, .ios .page {
      background-color: #fff !important;
    }

    .modal.show {
      z-index: 5010;
    }

    [data-modal-launch-observations] {
      cursor: pointer;
    }

    [data-modal-launch-observations] i {
      color: goldenrod;
    }

    [data-modal-launch-observations]:hover i {
      color: darkgoldenrod;
    }

    .star-number {
      font-size: 12px;
    }
  </style>
{% endblock %}

{% block extrascripts %}
  <script>
    $(function () {

      // Init tooltips
      {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
          $('[data-toggle="tooltip"]').tooltip({trigger: "click"});
      {% else %}
          $('[data-toggle="tooltip"]').tooltip();
      {% endif %}

      // Remove duplicate modals
      var seen = {};
      $('.observation-body[data-observation-id]').each(function () {
        var id = $(this).data('observation-id');
        if (seen[id])
          $(this).remove();
        else
          seen[id] = true;
      });

      // Launch modals
      $('[data-modal-launch-observations]').on('click', function (e) {
        var observationIds = $(this).data('modal-launch-observations');

        $('#the-modal .modal-body').html('');
        observationIds.forEach(function (id) {
          $('#the-modal .modal-body').append($('[data-observation-id="' + id + '"]').clone());
        });

        var modal = $('#the-modal');
        modal.modal({
          size: 'lg',
          fade: true
        });
      })

      $('#courseSelector').on('change', function(e) {
        var course_id = this.value;
        window.location = '{% url "observations_all" %}' + course_id
      });

    });
  </script>
{% endblock %}


{% block content %}
  <div class="container-fluid">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-12">
          <div class="mt-3 mb-3 input-group">
            <div class="input-group-addon">
              <label class="mb-0" for="courseSelector">Filter class</label>
            </div>
            <select class="form-control" id="courseSelector">
              {% if not course_id %}
                <option selected>Choose...</option>
                {% else %}
                <option value="">All Students</option>
              {% endif %}
              {% for course in courses %}
                <option value="{{ course.id }}" {% if course.id == course_id|add:0 %}selected{% endif %}>{{ course.name }}</option>
              {% endfor %}
            </select>
          </div>

          {% for table in tables %}
            <div style="overflow-x: scroll;width:100%;">
              <h4 class="text-align-center" style="margin-bottom: 25px;">{{ table.c_name }}</h4>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">&nbsp;</th>
                  {% for csl_id, csl_data in table.construct_map.items %}
                    <th scope="col" title="{{ csl_data.description }}" data-toggle="tooltip">
                        {{ csl_data.name }}
                        {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
                            <span><i class="fa fa-info-circle"></i></span>
                        {% endif %}
                    </th>
                  {% endfor %}
                </tr>
                </thead>
                <tbody>

                {% for student_id, construct_data in table.matrix.items %}
                  <tr>
                    <th scope="row">{{ table.student_map | keyvalue:student_id }}</th>
                    {% for csl_id, csl_data in table.construct_map.items %}
                      {% with exists=table.matrix|keyvalue:student_id|keyvalue:csl_id %}
                        <td data-csl-id="{{ csl_id }}" class="text-center"
                            {% if exists %}data-modal-launch-observations="[{{ exists|join:',' }}]">
                              <i data-toggle="tooltip" title=""
                                 class="fa fa-star"></i>{% if exists|length > 1 %}
                              <span class="star-number">({{ exists|length }})</span>{% endif %}
                            {% else %}>&nbsp;{% endif %}</td>
                      {% endwith %}
                    {% endfor %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% endfor %}
        </div>
      </div>
    </form>
  </div>


  {# MODALS #}
  <div class="d-none">
    {% for table in tables %}
      {% for observation in table.all_observations %}
        <div class="observation-body" data-observation-id="{{ observation.id }}">
          <h3><a href="{% url 'observation_detail_view' pk=observation.id %}">{% if observation.name %}{{ observation.name }}{% else %}Observation #{{ observation.id }}{% endif %}</a></h3>
          <small style="display: block;">Constructs: {{ observation.constructs.all|join:', ' }}</small>
          <small style="display: block;">Recorded on: {{ observation.created }}</small>
          {% if observation.tags.count %}
            <b style="display: block;">Tags:</b>
            {% for tag in observation.tags.all %}
              <span class="chip">{{ tag.text }}</span>
            {% endfor %}
          {% endif %}

          {% if observation.original_image %}
            <img src="{{ observation.original_image.url }}" alt="" style="width: 100%; height: auto;"/>
          {% endif %}

          {% if observation.video %}
            <video src="{{ observation.video.url }}" alt="" style="width: 100%; height: auto;"></video>
          {% endif %}

          {% if observation.notes %}
            <b style="display: block;">Note:</b>
            <p>{{ observation.notes }}</p>
          {% endif %}

          {% if observation.video_notes %}
            <b style="display: block;">Video Note:</b>
            <video src="{{ observation.video_notes.url }}" style="width: 100%; height: auto;"></video>
          {% endif %}

          {% if observation.students.all|length > 1 %}
            <small style="display: block;">Other students included: {{ observation.students.all|join:', ' }}</small>
          {% endif %}
          <div class="hr" style="height: 0;width: 100%;border-bottom: 2px solid #AAA; margin-bottom: 20px;"></div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="the-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>

{% endblock %}
