{% load staticfiles %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'observation.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}">
{% endblock %}
{% block extrascripts %}
  <script src="{% static 'vendor/fabricjs/fabricjs.min.js' %}"></script>
  <script src="{% static 'vendor/lightbox2/js/lightbox-plus-jquery.min.js' %}"></script>
  <script>
    lightbox.option({
      'albumLabel': ''
    })
  </script>
{% endblock %}

<div class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="title">{% block title %}LSOA: Observation{% endblock %}</div>
      <div class="right">
        <a href="#" data-panel="left" class="link panel-open icon-only">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content" style="padding-left: 1em;">
    <div class="row full-height">
      <div class="col-50" style="position: relative;">
        <div class="art" style="height: 480px;">
          <img id="image" src="{% static 'images/photo-placeholder.svg' %}"
               style="width: 100%; height: 100%">
          <video id="recorded" style="display:none;width: 100%; height: 100%;" muted autoplay controls
                 playsinline></video>

          {#        easeljs   #}
          <canvas id="easel-canvas" style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;"></canvas>
        </div>

        <div id="row-media-buttons" class="segmented" style="height:30px;">
          <label class="button" for="photoUpload">Take photo<input style="display:none;" type="file" accept="image/*"
                                                                   id="photoUpload"></label>
          <label class="button" for="videoUpload">Take video<input style="display:none;" type="file" accept="video/*"
                                                                   id="videoUpload"></label>
          {% if most_recent_observation %}
            <label class="button" for="useMostRecentMedia"><input type="checkbox"
                                                                  id="useMostRecentMedia"> Use Last Photo/Video </label>
          {% endif %}
        </div>
        <div id="row-capture-buttons" class="segmented" style="display:none; height:30px;">
          <a id="reset" class="button">Reset</a>
          <a id="enable-draw" class="button enab disabled">
            <span class="enab">Enable</span>
            <span class="disa">Clear</span> Drawing</a>
          <a id="drawing-color-button" class="disabled button">Change Color <span
            id="drawing-color"></span></a>
        </div>

        {#    Constructs    #}
        <div style="">
          {% for sublevel in constructs %}
            <div class="chip" data-value="{{ sublevel.id }}" style="padding: 15px 15px;">
              <div class="chip-label sublevel">
                {{ sublevel.name }}
                <div class="sublevel-desc" style="display: none;">
                  <h4>{{ sublevel.name }}</h4>
                  <p>{{ sublevel.description }}</p>
                </div>
                <div class="sublevel-example" style="display: none;">
                  <div class="swiper-container swiper-init">
                    <div class="swiper-wrapper">
                      {% for example in sublevel.examples.all %}
                        <div class="swiper-slide" style="text-align: center;">
                          <h4>{{ sublevel.name }}</h4>
                          <p>{{ example.text }}</p>
                          {% if example.image %}
                            <a href="{{ example.image.url }}" data-lightbox="{{ example.image.url }}">
                              <img src="{{ example.image.url }}" style="max-height: 280px; max-width: 20vw;"/>
                            </a>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>

                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {#    End Constructs    #}
        <hr/>

        <div id="sublevel-description" style="width: 100%; height:200px; overflow-y: scroll;">
          <h4>Learning Construct Details</h4>
          <p>Once you select a learning construct using the toggle buttons above, the description will
            be displayed here.</p>
        </div>
      </div>
      <div class="col-25 full-height">
        <h4 style="text-align: center; margin: 0;">Notes</h4>
        <video id="recordedNote" style="display:none;width: 100%; height: 150px" muted autoplay controls
               playsinline></video>
        <input style="display:none;" type="file" accept="video/*" id="videoNoteUpload"><label class="button"
                                                                                              for="videoNoteUpload"><span
        id="videoNoteUploadVerb">Add</span> Video/Audio note</label>
        <textarea style="width: calc(100% - 6px); height: 359px; font-size: 2em; background-color: white;"></textarea>
        <h4 style="text-align: center; margin: 0;">Learning Construct Examples</h4>
        <div id="sublevel-examples" style="height: 300px;">
          <p>Once you select a learning construct using the toggle buttons to the left, different
            examples of the learning constructs will be shown here.</p>
        </div>
      </div>
      <div class="col-25 full-height">
        <h4 style="text-align: center; margin: 0;">Students</h4>
        <div class="list" style="margin: 0;">
          <ul>
            {% if grouping %}
              {% for group in grouping.groups.all %}
                <li class="accordion-item">
                  <a href="#" class="item-link item-content group">
                    <div class="item-inner">
                      <div class="item-title">{{ group }}</div>
                    </div>
                  </a>
                  <div class="accordion-item-content">
                    <div class="list">
                      <ul>
                        {% for student in group.students.all %}
                          <li>
                            <div class="item-content student" onclick="">
                              <div class="item-inner">
                                <div class="item-title">&nbsp;&nbsp;{{ student }}</div>
                              </div>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </li>
              {% endfor %}
            {% else %}
              {% for student in course.students.all %}
                <li class="item-content student">
                  <div class="item-inner">
                    <div class="item-title">{{ student }}</div>
                  </div>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="fab fab-right-bottom color-green">
      <a href="#" id="submit">
        <i class="fa fa-2x fa-plus"></i>
      </a>
    </div>
  </div>
  <script>
    var pageInit = function () {
      var color, stage;
      var index = parseInt(Math.random() * 100);
      var colors = [
        "#1abc9c", "#2ecc71",
        "#3498db", "#9b59b6",
        "#34495e", "#ecf0f1",
        "#e74c3c", "#95a5a6",
        "#e67e22", "#f1c40f"
      ];

      var photoUpload = document.querySelector('input#photoUpload');
      var videoUpload = document.querySelector('input#videoUpload');
      var videoNoteUpload = document.querySelector('input#videoNoteUpload');
      var useMostRecentMedia = document.querySelector('input#useMostRecentMedia');
      var image = document.querySelector('img#image');
      var reset = document.querySelector('a#reset');
      var enableDisableDraw = document.querySelector('a#enable-draw');
      var drawingColorButton = document.querySelector('a#drawing-color-button');
      var drawingColorDisplay = document.querySelector('#drawing-color');

      var rowMediaButtons = document.querySelector('div#row-media-buttons');
      var rowCaptureButtons = document.querySelector('div#row-capture-buttons');
      var recordedVideo = document.querySelector('video#recorded');
      var recordedVideoNote = document.querySelector('video#recordedNote');
      var submitButton = document.querySelector('#submit');

      $$("#videoUpload").on("change", function (e) {
        recordedVideo.src = URL.createObjectURL(this.files[0]);
        recordedVideo.play();
        image.style.display = 'none';
        recordedVideo.style.display = '';

        // hide the Take Photo // Take Video buttons
        rowMediaButtons.style.display = 'none';
        // show the annotation buttons
        rowCaptureButtons.style.display = '';
      });

      $$("#videoNoteUpload").on("change", function (e) {
        recordedVideoNote.src = URL.createObjectURL(this.files[0]);
        recordedVideoNote.play();
        recordedVideoNote.style.display = '';
        $$('#videoNoteUploadVerb').text('Replace')
      });

      $$("#photoUpload").on("change", function (e) {
        image.src = URL.createObjectURL(this.files[0]);
        recordedVideo.style.display = 'none';
        image.style.display = '';

        // hide the Take Photo // Take Video buttons
        rowMediaButtons.style.display = 'none';
        // show the annotation buttons
        rowCaptureButtons.style.display = '';

        enableDisableDraw.classList.remove('disabled');
      });

      reset.addEventListener("click", function (ev) {
        rowMediaButtons.style.display = '';
        rowCaptureButtons.style.display = 'none';
        image.style.display = '';
        image.src = '{% static "images/photo-placeholder.svg" %}';
        recordedVideo.style.display = 'none';
        recordedVideo.src = '';
        enableDisableDraw.classList.add('disabled');
        stage = new fabric.Canvas('easel-canvas', {isDrawingMode: true});
        photoUpload.value = '';
        videoUpload.value = '';
        useMostRecentMedia.checked = false;
      });

      setUpEasel();

      function setUpEasel() {

        color = colors[(index++) % colors.length];

        initStage();
        initEnableDisable();
        initChangeColorButton();
        updateDrawingColorDisplay();

        function initStage() {
          stage = new fabric.Canvas('easel-canvas', {
            isDrawingMode: false,
            selection: false
          });

          stage.setHeight(image.height);
          stage.setWidth(image.width);

          updateDrawingColorDisplay();
          stage.freeDrawingBrush = new fabric['PencilBrush'](stage);
          stage.freeDrawingBrush.width = 10;
        }

        function updateDrawingColorDisplay() {
          stage.freeDrawingBrush.color = color;
          drawingColorDisplay.style.backgroundColor = color;
        }

        function initChangeColorButton() {
          drawingColorButton.onclick = function () {
            color = colors[(index++) % colors.length];
            updateDrawingColorDisplay();
          }
        }

        function initEnableDisable() {
          enableDisableDraw.onclick = function () {
            if (enableDisableDraw.classList.contains('enab')) {
              // Enable drawing
              enableDisableDraw.classList.remove('enab');
              enableDisableDraw.classList.add('disa');
              drawingColorButton.classList.remove('disabled');
            }
            else if (enableDisableDraw.classList.contains('disa')) {
              // Disable drawing
              enableDisableDraw.classList.add('enab');
              enableDisableDraw.classList.remove('disa');
              drawingColorButton.classList.add('disabled');
              stage.clear();
            }
            stage.isDrawingMode = !stage.isDrawingMode;
          }
        }
      }

      function getEaselData() {
        console.log(stage);
        if (stage) {
          return stage.toJSON();
        }
        return null;
      }

      function submit(){
        var easelData = getEaselData();
        console.log(easelData);
      }

      $(submitButton).on('click', submit);

      $$('.chip').on('touchstart', function (e) {
        var chip = $$(this);
        chip.toggleClass('bg-color-blue');
        var text = chip.find('.sublevel-desc').html();
        $$('#sublevel-description').html(text);
        var example = chip.find('.sublevel-example').html();
        $$('#sublevel-examples').html(example);
        new Swiper('.swiper-container', {pagination: '.swiper-pagination'})
      });
      $$('.student').on('click', function (e) {
        $$(this).toggleClass('bg-color-blue')
      });
      $$('.group').on('touchstart', function (e) {
        $$(this).toggleClass('selected-group');
        if (!$$(this).hasClass('selected-group')) {
          $$(this).closest('.accordion-item').find('.student').removeClass('bg-color-blue');
        }
      });
    };

    {% for message in messages %}
      window.myApp.toast.create({
        text: '{{ message }}'
      }).open();
    {% endfor %}

    if (typeof $$ !== 'undefined') {
      pageInit();
    } else {
      document.addEventListener("DOMContentLoaded", pageInit);
    }

  </script>
</div>
