<div class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="title sliding">{% block title %}LSOA: Setup{% endblock %}</div>
      <div class="right">
        <a href="#" data-panel="left" class="link panel-open icon-only">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  </div>

  {{ wizard.form.media }}
  <div class="page-content">
    <div class="row no-gutter full-height">
      <div class="col-25 full-height">

      </div>
      <div class="col-50 full-height">
        <p>Setup: Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <form action="{% url 'observation_setup_view' %}" method="post">
          {% csrf_token %}
          {{ wizard.management_form }}

          <div class="list">
            <ul>
              {% for field in wizard.form %}
                {% if field.field.widget.input_type == 'select' %}
                  <li>
                    <a href="#" class="item-link smart-select smart-select-init"
                       data-close-on-select="true">
                      {{ field }}
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">{{ field.label }}</div>
                        </div>
                      </div>
                      {% if field.errors %}
                        {% for error in field.errors %}
                          <div class="item-content small color-red">{{ error }}</div>
                        {% endfor %}
                      {% endif %}
                    </a>
                  </li>
                {% else %}
                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-title item-label">{{ field.label }}</div>
                      <div class="item-input-wrap">
                        {{ field }}
                      </div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% if wizard.steps.prev %}
            <p class="buttons-row">
              <button class="button button-big color-gray" name="wizard_goto_step" type="submit"
                      value="{{ wizard.steps.prev }}">Previous Step
              </button>
            </p>
          {% endif %}
          {% if wizard.steps.next %}
            <input class="button button-big" type="submit" value="Next"/>
          {% else %}
            <input class="button button-big" type="submit" value="Submit"/>
          {% endif %}
        </form>
      </div>
      <div class="col-25 full-height">

      </div>
    </div>
  </div>

  <script>
      var pageInit = function () {
          {% for message in messages %}
              myApp.alert('{{ message }}',
                  {% if message.tags %}'{{ message.tags.upper }}'{% else %}, 'LSOA'{% endif %});
          {% endfor %}
      };
      if (typeof $$ !== 'undefined') {
          pageInit();
      } else {
          document.addEventListener("DOMContentLoaded", pageInit);
      }

  </script>
</div>
