{% load staticfiles %}
<div class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"></div>
      <div class="title">{% block title %}LSOA: Setup{% endblock %}</div>
      <div class="right">
        <a href="#" data-panel="left" class="link panel-open icon-only">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  </div>

  {{ form.media }}

  <div class="page-content">
    <div class="row no-gutter full-height">
      <div class="col-25 full-height">

      </div>
      <div class="col-50 full-height">
        <form action="{% url 'observation_setup_view' %}" method="post" novalidate>
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="item-content small color-red">{{ error }}</div>
            {% endfor %}
          {% endif %}
          {% csrf_token %}
          <div class="list">
            <ul>
              {% for field in form %}
                {% if field.name == 'constructs' %}
                  {# pass, because we'll manually render that field later #}
                {% elif field.field.widget.input_type == 'select' %}
                  <li>
                    <a href="#" class="item-link smart-select smart-select-init " data-navbar-theme="red"
                       data-close-on-select="true">
                      {{ field }}
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">{{ field.label }}</div>
                        </div>
                      </div>
                      {% if field.errors %}
                        {% for error in field.errors %}
                          <div class="item-content small" style="color: red;">{{ error }}</div>
                        {% endfor %}
                      {% endif %}
                    </a>
                  </li>

                {% else %}
                  <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-title item-label">{{ field.label }}</div>
                      <div class="item-input-wrap">
                        {{ field }}
                      </div>
                    </div>
                  </li>

                  {% if field.errors %}
                    {% for error in field.errors %}
                      <div class="item-content small text-danger">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              <li class="pb-2">
                <div class="item-content">
                  <div class="item-title">Select Learning Constructs</div>
                </div>
                {% if form.constructs.errors %}
                  {% for error in form.constructs.errors %}
                    <div class="item-content small text-danger">{{ error }}</div>
                  {% endfor %}
                {% endif %}

                <div>TEST: {{ form.constructs.value }}</div>
                <div id="accordion">
                  {% for construct in constructs %}
                    <div class="card">
                      <a class="card-header mb-0 d-inline"
                         data-toggle="collapse"
                         data-mytarget="$(this).next()">
                        {{ construct.name }}
                      </a>
                      <div class="{% if something %}
                      show
                      {% else %}
                      collapse
                      {% endif %}">
                        <div class="card-body">
                          {% for level in construct.levels %}
                            <div class="card">
                              <a class="card-header mb-0 d-inline"
                                 data-toggle="collapse"
                                 data-mytarget="$(this).next()">
                                {{ level.name }}
                              </a>
                              <div class="card-body collapse">
                                {% for sublevel in level.sublevels %}
                                  <div class="form-check">
                                    <input name="constructs" class="form-check-input" type="checkbox"
                                           value="{{ sublevel.id }}" id="checkbox-{{ sublevel.id }}"
                                           {% if sublevel.id|stringformat:"i" in form.constructs.value %}checked{% endif %}>
                                    <label class="form-check-label" for="checkbox-{{ sublevel.id }}">
                                      {{ sublevel.name }}) {{ sublevel.description }}
                                    </label>
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </li>
            </ul>

          </div>
          <input class="button button-big" type="submit" value="Submit"/>
        </form>
        <br/>
        <div>
          <a href="{% url 'admin:index' %}" class="button button-big external">
            Set Up Students/Groups
          </a>
        </div>
      </div>
      <div class="col-25 full-height">

      </div>
    </div>
  </div>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
  <style>
    .select2-container.select2-container--default.select2-container--open {
      z-index: 99999999;
    }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

  <script>
    var pageInit = function () {
      {% for message in messages %}
        myApp.alert('{{ message }}',
          {% if message.tags %}'{{ message.tags.upper }}'{% else %}, 'LSOA'{% endif %});
      {% endfor %}

      $("#id_context_tags").select2({
        tags: true,
        tokenSeparators: [',', ' ', '\n'],
        createTag: function (params) {
          var term = $.trim(params.term);

          if (term === '') {
            return null;
          }

          return {
            id: term,
            text: term,
            newTag: true // add additional parameters
          }
        }
      })

      // grouping dependent select in F7 isn't smart enough to change the visual when the underlying select changes
      $('#id_course').change(function (event) {
        $("#id_grouping option[value='']").attr('selected', true);
        $$("#id_grouping").parent().find('.item-after').text('Individuals');
      });

      // jquery hack to cause accordion collapse without having to id every single item...
      $('body').on('click', '[data-toggle="collapse"][data-mytarget^="$("]', function () {
        eval($(this).data('mytarget')).collapse('toggle');
      });

    };
    if (typeof $$ !== 'undefined') {
      pageInit();
    } else {
      document.addEventListener("DOMContentLoaded", pageInit);
    }

  </script>
  <script src='{% static "django-related-select.js" %}'></script>
</div>
