{% extends 'base/b4_base_with_nav.html' %}

{% load staticfiles %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'setup-form.css' %}">
{% endblock %}

{% block extrascripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

  <script src='{% static "django-related-select.js" %}'></script>
  <script>

    {% for message in messages %}
      window.myApp.toast.create({
        text: '{{ message }}'
      }).open();
    {% endfor %}

    function updateAddGroupLink() {
      var $gLink = $('#grouping_link');
      var $courseField = $('#id_course');
      if ($courseField.val()) {
        $gLink.attr('href', '/grouping/?course=' + $courseField.val());
      } else {
        $gLink.removeAttr('href');
      }
    }

    function updateEditGroupLink() {
      var $gLink = $('#edit_grouping_link');
      var $courseField = $('#id_course');
      var $groupField = $('#id_grouping');
      // handle unresolved backend problem for grouping selecting for selected course
      if ($courseField.val() && $groupField.val() && $groupField.val() !== 'error') {
        $gLink.attr('href', '/grouping/?course=' + $courseField.val() + '&grouping=' + $groupField.val());
      } else {
        $gLink.removeAttr('href');
      }
    }

    function registerGroupingListeners(id, func) {
        var listeners = ['click', 'update', 'change', 'focus', 'unfocus'];
        listeners.forEach(function(listener) {
            $(id).on(listener, func);
        });
    }

    registerGroupingListeners('#id_course', updateAddGroupLink);
    registerGroupingListeners('#id_grouping', updateAddGroupLink);

    registerGroupingListeners('#id_course', updateEditGroupLink);
    registerGroupingListeners('#id_grouping', updateEditGroupLink);


    $("#id_context_tags").select2({
      tokenSeparators: [',', '\n']
    })
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-6 offset-3">
      <h1>{% block title %}LSOA: Setup{% endblock %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <form action="{% url 'setup' %}" method="post" novalidate>
        {% csrf_token %}
        {{ form.media }}

        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <div class="item-content small color-red">{{ error }}</div>
          {% endfor %}
        {% endif %}

        {% for field in form %}
          {% if field.name == 'constructs' %}
            {# pass, because we'll manually render that field later #}

          {% else %}

            <div class="form-group {% if field.errors %}has-errors  text-danger {% endif %}small">
              <div data-form-label="{{ field.auto_id }}">
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
              </div>
              {{ field }}
              {% if field.name == "grouping" %}
                  <div class="d-flex flex-row-reverse">
                    <a id="edit_grouping_link" class="btn btn-primary btn-sm mt-1 ml-1">
                      <i class="fa fa-edit"></i> Edit Grouping
                    </a>
                    <a id="grouping_link" class="btn btn-primary btn-sm mt-1">
                      <i class="fa fa-plus"></i> Add New Grouping
                    </a>
                </div>
              {% endif %}

              {% if field.name == "context_tags" %}
                  <a id="add_tag" href="/tag/">+ Add New Tag</a>
              {% endif %}
            </div>
            {% if field.errors %}
              {% for error in field.errors %}
                <div class="item-content small" style="color: red;">{{ error }}</div>
              {% endfor %}
            {% endif %}
          {% endif %}

        {% endfor %}


        <div class="item-content">
          <div class="item-title  {% if form.constructs.errors %}text-danger{% endif %}">Select Learning Constructs
          </div>
        </div>
        {% if form.constructs.errors %}
          {% for error in form.constructs.errors %}
            <div class="item-content small text-danger">{{ error }}</div>
          {% endfor %}
        {% endif %}
        <div id="accordion">
          {% for construct in constructs %}
            <div class="card">
              <a class="card-header mb-0 d-inline" href="#"
                 data-toggle="collapse" data-target="#{{ construct.name|cut:' ' }}">
                {{ construct.name }}
              </a>
              <div class="collapse" id="{{ construct.name|cut:' ' }}">
                <div class="card-body">
                  {% for level in construct.levels %}
                    <div class="card">
                      <a class="card-header mb-0 d-inline" href="#"
                         data-toggle="collapse" data-target="#level-{{ level.id }}">
                        {{ level.name }}
                      </a>
                      <div class="collapse" id="level-{{ level.id }}">
                        <div class="card-body">
                          {% for sublevel in level.sublevels %}
                            <div class="form-check">
                              <input name="constructs" class="form-check-input" type="checkbox"
                                     value="{{ sublevel.id }}" id="checkbox-{{ sublevel.id }}"
                                     {% if sublevel.id in form.constructs.value %}checked{% endif %}>
                              <label class="form-check-label" for="checkbox-{{ sublevel.id }}">
                                {{ sublevel.name }}) {{ sublevel.description }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>


        <div class="row" style="margin-top: 30px;">
          <div class="col-6">
              <input class="btn btn-primary col" type="reset" value="Reset"/>
          </div>
          <div class="col-6">
            <input class="btn btn-primary col" type="submit" value="Submit"/>
          </div>
        </div>

      </form>
    </div>
  </div>


  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
  <style>
    .select2-container.select2-container--default.select2-container--open {
      z-index: 99999999;
    }

    [value="make-new-grouping"] ~ .item-inner .item-title {
      position: relative;
      top: -2px;
      color: #1b9a59;
    }

    [value="make-new-grouping"] ~ .icon.icon-radio {
      display: none;
    }

    [value="make-new-grouping"] ~ .item-inner .item-title:before {
      content: '+';
      position: relative;
      top: -2px;
      color: #1b9a59;
      margin-right: 5px;
      display: inline-block;
    }
  </style>

{% endblock %}
