{% extends 'base/b4_base_with_nav.html' %}

{% load staticfiles %}
{% load observations %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}">
  <style>
    [role="tooltip"] {
      z-index: 9999999;
    }

    table, .ios .page {
      background-color: #fff !important;
    }

    .modal.show {
      z-index: 5010;
    }

    [data-modal-launch-observations] {
      cursor: pointer;
    }

    [data-modal-launch-observations] i {
      color: goldenrod;
    }

    [data-modal-launch-observations]:hover i {
      color: darkgoldenrod;
    }

    .dot {
      height: 20px;
      width: 20px;
      background-color: #f2a287;
      border-radius: 50%;
      display: inline-block;
      margin: 3px auto;
    }

    .dot:hover {
      background-color: #cb6634;
    }

    /*
     * Height of date input is broken if there is no value. It have been
     * solved in higher version of bootstrap.
     */
    input[type="date"] {
	     height: 2.375rem;
    }
  </style>
{% endblock %}

{% block extrascripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
  <script src="{% static 'vendor/fabricjs/fabricjs.min.js' %}"></script>
  <script>
    function initSelect2() {
      $("#id_constructs").select2({
        tokenSeparators: [',', '\n']
      });
      $("#id_tags").select2({
        tokenSeparators: [',', '\n']
      });

      $("#id_courses").select2({
        tokenSeparators: [',', '\n']
      });

      var course_id = "{{ course_id }}";

      if (course_id !== "None") {
        course_id = JSON.parse(course_id);

        if (typeof(course_id) === "number") {
          $('#id_courses').val(`${course_id}`).trigger('change');
        }
      }
    }

    function loadAllowedConstructs() {
      if ($("#construct-row").hasClass('d-none')) {
        return;
      }
      var date_from = $('#id_date_from').val();
      var date_to = $('#id_date_to').val();
      var course = $('#courseSelector').val();
      if (isNaN(course)) {
        course = undefined;
      }

      $.ajax({
        type: 'POST',
        url: '{% url "observations-ajax" %}',
        dataType: 'json',
        data: {
          'course': course,
          'date_to': date_to,
          'date_from': date_from,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response) {
          var data = response['data'];
          var selected = $('#id_constructs').val();
          $('#id_constructs').empty();

          $.each(data, function(index, option) {
            $('#id_constructs').append( new Option(option.value, option.id) );
          });
          $('#id_constructs').val(selected).trigger('change');
        },
        error: function (xhr, status, e) {

        }
      });
    }

    $( document ).ready(function() {
      initSelect2();
      loadAllowedConstructs();
      $('.datepicker').datepicker({
          uiLibrary: 'bootstrap4'
      });

      $('.gj-datepicker').append(`<span class="clearInput" role="right-icon">
          <button btn btn-outline-secondary border-left-0 type="button"><i class="fa fa-close"></i></button></span>`)

      $('.clearInput').click(function() {
        $($(this).parent().find('input')).datepicker().val('');
      })

      $('.datepicker').prop('readonly', true);
    });

    function registerUpdateConstructsListener(id) {
      var listeners = ['change', 'unfocus'];
      listeners.forEach(function(listener) {
        $(id).on(listener, loadAllowedConstructs);
      });
    }

    registerUpdateConstructsListener('#id_date_from');
    registerUpdateConstructsListener('#id_date_to');


    $(function () {
      // Init tooltips
      var is_touch_device = (
          ("ontouchstart" in window)
          || window.DocumentTouch
          && document instanceof DocumentTouch
      );

      if (is_touch_device) {
        $('[data-toggle="tooltip"]').tooltip({trigger: 'click'});
      } else {
        $('[data-toggle="tooltip"]').tooltip({trigger: 'hover'});
      }

      // Remove duplicate modals
      var seen = {};
      $('.observation-body[data-observation-id]').each(function () {
        var id = $(this).data('observation-id');
        if (seen[id])
          $(this).remove();
        else
          seen[id] = true;
      });

      // Launch modals
      $('[data-modal-launch-observations]').on('click', function (e) {
        var observationIds = $(this).data('modal-launch-observations');

        $('#the-modal .modal-body').html('');
        observationIds.forEach(function (id) {
          $('#the-modal .modal-body').append($('[data-observation-id="' + id + '"]').clone());
          var $canvas = $('#the-modal .modal-body #' + id);
          $canvas.attr('id', 'canvas' + id);

          var annotation_data = $('#annotation_data_' + id).html();

          $('#the-modal').on('shown.bs.modal', function() {
            var $image = $('#the-modal .modal-body #image-' + id);
            if ($image.length == 0) {
                return;
            }

            var height = $image.height();
            var width = $image.width();
            var naturalWidth = $image.get(0).naturalWidth;
            $image.hide();
            var imageScale = width/naturalWidth;

            var canvas = new fabric.Canvas('canvas' + id, {
              isDrawingMode: false,
              selection: false
            });
            canvas.setHeight(height);
            canvas.setWidth(width);

            var url = $('#url_'+id).html();
            canvas.setBackgroundImage(
              decodeURI(url.replace(/&amp;/g, '&')),
              canvas.renderAll.bind(canvas), {
                scaleX: imageScale,
                scaleY:  imageScale
              }
            );

            var ctx = {};
            if (annotation_data !== "") {
              var ctx = JSON.parse(annotation_data.replace(/&quot;/g, '"'));
            }
            var originalHeight = parseFloat(ctx['originalHeight']);
            if (isNaN(originalHeight)) {
              // Assume that original height was the same - scale it for 60% like in html
              originalHeight = height / 0.6;
            };
            var scale = height / originalHeight;

            canvas.loadFromJSON(ctx);
            canvas.forEachObject(function (object) {
              object = object.scale(scale);
              object.left = object.left * scale;
              object.top = object.top * scale;
            });
            canvas.renderAll();
          });
        });

        var modal = $('#the-modal');
        modal.modal({
          size: 'lg',
          fade: true
        });
      });

      $('#courseSelector').on('change', function(e) {
        var course_id = this.value;
        window.location = '{% url "observations_teachers" %}' + course_id;
      });
    });
  </script>
{% endblock %}


{% block content %}
  <div class="container-fluid">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        {% include "_base_filtering.html" %}
        {% for teacher, constructs in dot_matrix.items %}
          <h4 class="text-align-center" style="margin-bottom: 25px;">{{ teacher.get_full_name }}</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Constructs</th>
                <th>Observations</th>
              </tr>
            </thead>
            <tbody>
              {% for construct, observations in constructs.items %}
                {% if observations %}
                  <tr>
                    <td>{{ construct }}</td>
                    <td>
                      {% for observation in observations %}
                        <span
                          class="dot"
                          data-csl-id="{{ observation.id }}"
                          data-modal-launch-observations="[{{ observation.id }}]" ></span>
                      {% endfor %}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      </div>
    </div>
  </div>


  {# MODALS #}
  <div class="d-none">
      {% for observation in all_observations %}
        <div class="observation-body" data-observation-id="{{ observation.id }}">
          <h3>
            <a href="{% url 'observation_detail_view' pk=observation.id %}">
                {% if observation.name %}
                    {{ observation.name }}
                {% else %}
                    Observation #{{ observation.id }}
                {% endif %}
            </a>
            <a href="{% url 'observation_detail_view' pk=observation.id %}" class=" btn btn-primary pull-right">Edit</a>
          </h3>
          <small class="d-block"><b>Constructs:</b> {{ observation.constructs.all|join:', ' }}</small>
          <small class="d-block"><b>Observation date:</b> {{ observation.observation_date }}</small>
          <small class="d-block"><b>Recorded on:</b> {{ observation.created }}</small>
          <small class="d-block">
            <b>Other students included:</b>
            {% if observation.students.all|length > 1 %}
              {{ observation.students.all|join:', ' }}
            {% else %}
              -
            {% endif %}
          </small>
          <small class="d-block">
            <b>Students from group</b>: {{ observation.allowed_students|join:', ' }}
          </small>

          {% if observation.tags.count %}
            <b style="display: block;">Tags:</b>
            {% for tag in observation.tags.all %}
              <span class="chip">{{ tag.text }}</span>
            {% endfor %}
          {% endif %}

          {% if observation.original_image %}
          <div class="row no-gutters">
            <div class="col-12" style="">
              <div class="art" style="">
                <div style="display: flex; justify-content: center;">
                  <canvas id="{{ observation.id }}"></canvas>
                </div>
                <div style="display: flex; justify-content: center;">
                  <img class="" id="image-{{observation.id}}" src="{{ observation.original_image.url }}" alt="" style=" width: 60%; height: 60%"/>
                </div>
                <div class="d-none" id="annotation_data_{{observation.id}}">{{observation.annotation_data}}</div>
                <div class="d-none" id="url_{{observation.id}}">{{observation.original_image.url}}</div>
              </div>
            </div>
          </div>

          {% endif %}

          {% if observation.video %}
            <div style="display: flex; justify-content: center;">
              <video src="{{ observation.video.url }}" alt="" style="width: 60%; height: auto;" controls preload="none"></video>
            </div>
          {% endif %}

          {% if observation.notes %}
            <b style="display: block;">Note:</b>
            <p>{{ observation.notes }}</p>
          {% endif %}

          {% if observation.video_notes %}
            <b style="display: block;">Video Note:</b>
            <video src="{{ observation.video_notes.url }}" style="width: 100%; height: auto;" controls preload="none"></video>
          {% endif %}


          <div class="hr" style="height: 0;width: 100%;border-bottom: 2px solid #AAA; margin-bottom: 20px; margin-top: 20px"></div>
        </div>
      {% endfor %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="the-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>

{% endblock %}
