{% extends 'base/b4_base_with_nav.html' %}

{% block content %}
<div>
    <h1 class="text-center mb-3 mt-3">Work queue</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th class="align-middle">Observation number</th>
                <th class="align-middle">Name</th>
                <th class="align-middle">Date</th>
                <th class="align-middle">Selected students</th>
                <th class="align-middle">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for observation in object_list %}
                <tr class="text-center">
                    <td class="align-middle">{{ observation.pk }}</td>
                    <td class="align-middle">{{ observation.name }}</td>
                    <td class="align-middle">{{ observation.observation_date }}</td>
                    <td class="align-middle">{{ observation.students.all|join:", " }}</td>
                    <td class="align-middle">
                        <div class="btn-group" role="group">
                            <a href="{% url 'observation_detail_view' pk=observation.pk %}">
                                <button class="btn btn-primary">Edit</button>
                            </a>

                            {% if observation.is_draft %}
                                <form method="POST" action="{% url "remove-draft" pk=observation.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary ml-2">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No observations in work queue</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'pagination.html' with page_obj=page_obj %}
</div>
{% endblock %}
