<div class="content-block">
  <div class="block-title">Current Class</div>
  <div class="list">
    <ul>
      <li><a href="#" class="item-link panel-close" data-view=".view-main">
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title">Edit Last Observation</div>
          </div>
        </div>
      </a></li>
      <li><a href="{% url 'observation_setup_view' %}" class="item-link panel-close external">
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title">End Class</div>
          </div>
        </div>
      </a></li>
    </ul>
  </div>
  <div class="block-title">Settings</div>
  <div class="list">
    <ul>
      <li><a href="{% url 'admin:index' %}" class="item-link panel-close external">
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title">Set Up Students/Groups</div>
          </div>
        </div>
      </a></li>

    </ul>
  </div>
  <div class="list">
    <ul>
      <li><a href="{% url 'account_logout' %}" class="external panel-close item-link list-button bg-color-red color-white">
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title">Log Out</div>
          </div>
        </div>
      </a></li>
    </ul>
  </div>
</div>
