<div class="view view-left">
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="title">Menu</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block-title">Current Class</div>
      <div class="list">
        <ul>
          <li><a href="#" class="item-link close-panel" data-view=".view-main">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">Edit Last Observation</div>
              </div>
            </div>
          </a></li>
          <li><a href="{% url 'observation_setup_view' %}" class="item-link close-panel" data-view=".view-main">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">End Class</div>
              </div>
            </div>
          </a></li>
        </ul>
      </div>
      <div class="block-title">Settings</div>
      <div class="list">
        <ul>
          <li><a href="{% url 'admin:index' %}" class="item-link close-panel external">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">Set Up Students/Groups</div>
              </div>
            </div>
          </a></li>
          {#            <li><a href="#" data-view=".view-main" class="item-link close-panel">#}
          {#              <div class="item-content">#}
          {#                <div class="item-inner">#}
          {#                  <div class="item-title">Disable Something</div>#}
          {#                </div>#}
          {#              </div>#}
          {#            </a></li>#}

        </ul>
      </div>
      <div class="list">
        <ul>
          <li><a href="{% url 'account_logout' %}" class="external item-link list-button bg-color-red color-white">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">Log Out</div>
              </div>
            </div>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
